[Unit]
Description=Gtk3 Broadway Backend
After=network-online.target
Wants=network-online.target

[Install]
WantedBy=default.target

[Service]
Type=simple
PrivateTmp=true
ExecStart=broadwayd :0
